<div class="h-100 d-flex justify-content-center align-items-center flex-column">
  <h4 class="mt-4"><strong> Popular Item</strong></h4>
  <div class="star-div">
    <h1 class="mr-4"><%=@popular%></h1>
  </div>
</div>
