h3 {
  float: right;
  margin-left: 5px;
}

.cart-icon {
  font-size: 60px;
  color: red;
}

.category-btn {
  outline: none;
  border: none;
  background-color: white;
  font-size: 60px;
}

button,
.cart-btn:hover {
  outline: 0;
  cursor: pointer;
}

button,
.cart-btn:focus {
  outline: 0 !important;
}

.trash-icon {
  border: none;
  background: white;
  font-size: 30px;
  color: red;
}

.cart-btn {
  border: none;
  background: white;
}

.cart-icon-heading {
  font-size: 80px;
  color: grey;
}

.star-div {
  height: 80vh;
  width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('star.jpg');
  background-repeat: no-repeat;
}

.menu-dropdown {
  text-decoration: none !important;
  background-color: white !important;
  border: none !important;
  float: right !important;
}

select {
  padding: 10px;
  width: 100%;
}

.circle-icon {
  color: red;
  font-size: 60px;
}

.delete-button {
  border: none;
  background: white;
}
